* {
	box-sizing: border-box;
}

body {
	margin: auto;
	background: #fff0fb;
}

.story {
	width: 56.25vh;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.excel {
	width: 1.25vh;
	height: 1.25vh;
  background-color: #303030;
	padding: 1px;
}


.snake {
	width: 1.25vh;
	height: 1.25vh;
  background-color: #97ff05;
	padding: 1px;
}

.dolphin {
	width: 1.25vh;
	height: 1.25vh;
  background-color: #2bccbc;
	padding: 1px;
}

.monkey {
	width: 1.25vh;
	height: 1.25vh;
  background-color: #ede053;
	padding: 1px
}
