* {
	box-sizing: border-box;
}

body {
	margin: auto;
	background: #444444;
}

.story {
	width: 56.25vh;
	height: 100vh;
  background-color: black;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
  wid
}

.excel {
	width: 6.25vh;
	height: 6.25vh;
	padding: 2px;
}
